.App {
  text-align: center;
  font-family: monospace;
}

.navbar {
  background-color: #9ACB34;
  font-weight: bold;
  font-size: 1rem;
  padding: 0 2rem;
  border-radius: 15px;
  width: auto;
}

.link {
  display: inline-block;
  margin: 0 5px;
  padding: 5px;
  height: 50px;
  width: 275px;
  text-align: center;
  line-height: 50px;
  color: #FBF8EF;
  text-decoration: none;
  position: relative;
}

.link:hover {
  background-color: #FBF8EF;
  color: #9ACB34;
}

.heading {
  font-family: monospace;
}

p {
  color: #353E4A;
}
